body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-green: #008c4f;
  --primary-gray: #808080;
  --primary-white: #ffffff;
}

/* Example usage */
.header {
  background-color: var(--primary-green);
}

.button {
  background-color: var(--primary-gray);
  color: var(--primary-white);
}
